# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/package-lock.json

# project-native config
.marvelrc-native.js
# production
# /dist
/.coverage
/.analyzer

# misc
.DS_Store

# local env
.env*.local

# IDE
.idea
.vscode
.history
report*.json

.yalc
yalc.lock
